#about-me {
    display: flex;
    flex-direction: row; /* Align elements horizontally */
    align-items: flex-start;
    justify-content: space-around; /* Adjust alignment */
    padding: 20px;
    background-color: #ff4081; /* Vibrant pink background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
}

.box {
    background-color: #0288d1; /* Blue background for internal boxes */
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#animate-btn {
    background-color: #ff5722; /* Orange button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#animate-btn:hover {
    background-color: #e64a19; /* Darker orange on hover */
}

.profile-pic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: auto;
    border: 5px solid #d32f2f; /* Red border */
}

.text-box {
    flex: 1;
    text-align: left;
    background-color: #388e3c; /* Green background */
    border: 2px solid #2e7d32;
    padding: 20px;
    color: #ffffff;
}
